* { -webkit-hyphens: none; }
div {
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}
.clear {clear: both;}
.wrapper {
	width: 100%;
	margin: 0px auto;
	padding: 20px;
	
	@media screen and (min-width: $tabwidth) {
		width: 100%;
	}
	@media screen and (min-width: $deskwidth) {
		width: 1200px;
		padding: 0px;
	}
}

.content-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 66%;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

.widget-area {
	width: 100%;
	margin: 0px auto;
	
	@media screen and (min-width: $tabwidth) {
		width: 26%;
		float: right;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}

/* Logo */
.logo , h1.logo {
	width: 300px;
	background-image: url(images/logo.png);	
	margin: 10px auto;

	@media screen and (min-width: $tabwidth) {
		width: 300px;
		float: left;
		margin: 0;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.logo a, h1.logo a {
	width: 300px;
	display: block;

	@media screen and (min-width: $tabwidth) {
		width: 300px;
	}
	@media screen and (min-width: $deskwidth) {
		/*width: 1200px;*/
	}
}
.site-footer {
	width: 100%;
	clear: both;
}
.parallax-window {
    min-height: 400px;
    background: transparent;
}
section.header {
	width: 100%;
	position: relative;
	padding: 5%;
	.logo {
		width: 28%;
		float: left;
	}
	.sitedesc {
		width: 60%;
		float: left;
		color: #fff;
		h1 {
			font-size: 40px;
		}
		.taglines {
			width: 100%;
			float: left;
		}
	}
}
section.companies {
	width: 100%;
	float: left;
	.company {
		width: 100%;
		float: left;
		position: relative;
		@media screen and (min-width: $tabwidth) {
			width: 50%;
			border: 4px solid #fff;
		}
		.overlay {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: rgba(#000, .6);
			opacity: 1;
			display: flex;
			flex-direction: column;
			justify-content: center;
			@include transition(all ease .2s);
			&.active {
				opacity: 0;
			}
			.logo {
				width: 60%;
				margin: 0 auto;
				img {
					width: 100%;
				}
			}
		}
		.img {
			width: 100%;
			position: relative;
			line-height: 0;
			img {
				width: 100%;
			}
		}
		.desc {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			color: #fff;
			padding:5%;
			line-height: 1.2;
		}
	}
}
section.footer {
	padding: 5%;
	.footer-desc {
		color: #fff;
	}
}